@model IEnumerable<Note>

@foreach (var note in Model)
{
    <div>@note.Content is created by @note.Author</div>


}

<img src="images/pic.jpg"/>
<img src="images/pic.jpg"/>
<img src="images/pic.jpg"/>