@{
    ViewData["Title"] = "SOME MAAAAAAN";
}

@model string[]

@foreach (string cat in Model)
{
    <div>@(cat)</div>
}

<div class="text-center">
    <h1 class="display-4">You are in some zone.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
